

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

}

.cls-1 {
  fill: none;
  stroke: none;
  stroke-miterlimit: 1;
}

#box {
  position: relative;
  display: flex;
  width: 100px;
  height: 150px;
}

#boxbg
{
  position: absolute;  
  top: 0;
  left: 0;
bottom: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
  z-index: -1;          
  pointer-events: none;
  opacity: 30%;
}

.logo {
  width: 5%;
  height: 5%;
  margin-top: -20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 100%;
  height: auto;
  align-items: center;

}

.aboutthing img {
  width: 20%;
}

.horizontal-line {
  height: 0;
  border-bottom: 2px solid #0a0f56;
  width: 70%;
  margin: 10px auto;
}



header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  bottom: 0;
}

#bg {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 2px;
  object-fit: cover;
}

#man {
  z-index: 5;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 10%;
}

#title {

  color: #3a413f;
  position: absolute;
  top: 40%;
  right: 5%;
  font-size: 4em;
  font-weight: 800;
  z-index: 10;
  text-align: right;
}
#title img {
  width: 40px;
  height: 40px;
  margin-left: 170px;
  margin-top: 80px;
}
#my {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5vw;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  color: #ececec;
  background: #2e2f30;
}
#words h3 img {
  width: 30px;
 height: 30px;;
  margin: 10px;
}
.myportfolio img {
  width: 40px;
 height: 40px;;
  
}

h1.myportfolio {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5vw;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  color: #804691;
}

h2.section-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5vw;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  color: #f6a716;
  text-shadow: 1px 1px 0 #2e2e2c00,
    4px 4px 0 #4f4d57,
    3px 4px 6px rgba(14, 14, 83, 0);;
}

.section-heading img {
  width: 30px;
 height: 30px;;
  margin: 10px;
}


.text-muted {
  color: #777777;
}


p {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a:hover{
  outline: none;
  color: #fec503;
}





h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}

h2,
h3{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

#bg {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 2px;
  object-fit: cover;
}




.btn-xl {
  color: white;
  background-color: #3e19a5 ;
  border-color: #646464;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 50px;
  padding: 20px 30px;
  display: flex;
  
}

.btn-x2 {
  color: rgb(235, 235, 235);
  background-color: #262b86;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 25px;
}

.btn img {
  width: 40px;
  height: 40px;
}


.navbar-custom {
background-color: #ffffffb5 !important;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 100%; 
  left: 0;   
  padding: 20px 10px !important;      
}




.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: blod;
  letter-spacing: 1px;
  color: rgb(40, 40, 40);
  text-decoration: none;
}

.navbar-custom .nav li a:hover{
  color: #f1ae1d;
  outline: none;
}



header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  bottom: 0;
}




section {
  padding: 150px 0;
}

.about-section {
  background-color: #d7d7d7;
 margin-bottom: 50px;
 margin-top: 0;
  position: relative;
  z-index: 0;
}


section h2.portfolio {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 50px;
}
section h3.section-text {
  font-size: 25px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 50px;
}



.service-heading {
  margin: 15px 0;
  text-transform: none;
}



footer img {
  transform: scale(1.5);
  position: absolute;
  width: 120%;
  right: 16%;
  height: 150px;
  overflow: hidden;
  margin: 0;
}

#footer {

  color: #ffffff;
  position: absolute;
  margin-top: 10px;
  right: 45%;
  z-index: 10;
  text-align: center;
  padding: 25px 0;
  font-size: 15px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 50px;
  z-index: 5;
  margin-bottom: 0;
  padding-bottom: 0;

}

#map {
  height: 400px;
  width: 100%;
border-radius: 10px;
}
#myFile1 {
  color: #13124fb2;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.hero {
  width: 100%;
   
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero a {
  font-weight: bold;
  font-size: 35px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-decoration: none;
  color: #000;
}


#container3D canvas {
  width: 100%;
  height: 600px;
  position: absolute;
  top:0;
  left:0;
}