body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #c5c5c5;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

header h1 img {
  margin: 10px;
  width: 20px;
  vertical-align: middle;
}
a {
  margin-top: 1em;
  text-align: center;
  color: white;
  text-decoration: none;
  
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}


header img {
  width: 15px;
}


.gallery {
  margin-bottom: 30px;
  text-align: center;
   background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.gallery img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.gallery h3 {
  font-size: 16px;
  margin-top: 10px;
}


.text-center a{
  text-align: center;
  color: #000;
}