body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #c5c5c5;
  padding-top: 100px;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  margin-top: 100px;
  margin: 50px;
  font-size: 2em;
  font-weight: 900;
}

header h1 img {
  margin: 10px;
  width: 20px;
  vertical-align: middle;
}
a {
  margin-top: 1em;
  text-align: center;
  color: white;
  text-decoration: none;
  
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}


header img {
  width: 15px;
}


.gallery {
  margin-bottom: 30px;
  text-align: center;
   background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.gallery img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.gallery h3 {
  font-size: 16px;
  margin-top: 10px;
}


.text-center a{
  font-weight: 700;
  text-align: center;
  color: #000;
}


.navbar-custom {
background-color: #ffffffb5 !important;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 100%; 
  left: 0;   
  padding: 20px 10px !important;      
}




.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: blod;
  letter-spacing: 1px;
  color: rgb(40, 40, 40);
  text-decoration: none;
}

.navbar-custom .nav li a:hover{
  color: #f1ae1d;
  outline: none;
}

.collapse img {
  width: 60px;
  height: 40px;
}


#canvas-container {
  width: 100%;
  height: 500px; 
}


#footer p {
  font-size: 18px;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}