body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #c5c5c5;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}
a {
  margin-top: 1em;
  text-align: center;
  color: white;
  text-decoration: none;
  
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}