body {
      background-color: #1a1a1a;
      color: #ddd;
      font-family: "Segoe UI", "Microsoft JhengHei", sans-serif;
    }

    
    header {
		min-height: 80px;
	  position: relative;
      padding: 20px 40px;
    }

    .logo {
      font-size: 1.8rem;
      font-weight: bold;
      color: #ffb400;
    }

    .logo span {
      font-weight: lighter;
      color: #ffb400;
    }

    .flame {
      position: absolute;
	  height: 50%;
      top: 0;
      left: 0;
      height: 40%;
    }


    
    .login-area {
      right: 40px;
      top: 25px;
      font-size: 0.9rem;
	   min-height: 80px;
	   float: right;
	   background-image: linear-gradient(to bottom, rgb(75, 75, 68), #2b2925 , rgb(75, 75, 68)40%);
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(255, 180, 0, 0.2);
    }
    

   .login-line {
  border-top: 2px solid #000000; 
   }
    .login-area p {
      color:#ffb400;
    } 
	.login-area p.a {
      color: #ffffff;
    }
   
    .container-fluid {
      padding: 30px;
    }


    .show-bar {
	  background-image: linear-gradient(to bottom, #2b2925 , rgb(75, 75, 68)40%);
      border-radius: 15px;
	  padding: 10px;
	  text-align: center;
	  cursor: pointer;
	  margin-bottom: 20px;
	  font-weight: bold;
	  height: auto;
	}

    .show-bar h2{
	font-size: 1.2em;
    color: #ffffff;
	text-align: right;
	}

	.show-bar p{
	font-size: 1em;
    color: #ffffff;
	text-align: left;
	font-weight:lighter;
	}

h1{
	  font-size: 1em;
	  font-weight:bold;
	  color: #ffb400;
	  margin-bottom: 20px;
	  text-align: right;

	}
h2{
	  font-size: 1em;
	  font-weight:bold;
	  margin-bottom: 20px;
	  text-align: middle;

	}

.transparent-box {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
  height: 200px;
}




    .left-menu,
    .right-side{
      background-image: linear-gradient(to bottom, #2b2925 5%, rgb(75, 75, 68)20%, #2b2925 50%,rgb(75, 75, 68));
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(255, 180, 0, 0.2);
	  border: 3px solid #5c5c5a;
	  height: 100%;
    }
	.main-content {
      background-image: linear-gradient(to bottom, rgb(97, 97, 91), #2b2925 60%);
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(255, 180, 0, 0.2);
	  height: 90%;
    }


	.main-content2 {
      background-image: linear-gradient(to bottom, #2b2925 , rgb(82, 82, 79)10%, #3d3b37 , rgb(95, 95, 90)60%);
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(255, 180, 0, 0.2);
	  border: 3px solid #5c5c5a;
	  height: 100%;
    }


	.main-box-body {
  font-size: 14px;
  line-height: 1.6;
  color: #d0d0d0;
}
 textarea {
	width: 100%; 
  background: linear-gradient(180deg, #111 0%, #000 100%);
  border: 1px solid #444;
  border-radius: 8px;
  color: #f8f8f8;
  font-size: 14px;
  padding: 10px 12px;
  
  box-sizing: border-box;
}

    .left-menu h5,
    .main-content h5,
	.main-content2 h5,
    .right-side h5 {
      color: #ffb400;
      margin-bottom: 15px;
	  border-bottom: 1px solid #eba400;
    }

	.main-content h6 {
	  color: #ffb400;
	  margin-bottom: 15px;
	  
	}
	.login-area p {
	  margin: 0 5px;
	}
	.login-area input {
	color: #eee;
    background-color: #1a1a1a;
    border: 1px solid #555;
    }
	.login-area input:focus {
     background-color: #1a1a1a;
	 border: 1px solid #555;
	 
    }

    .left-menu ul {
      list-style: none;
      padding: 0;
    }

    .left-menu li {
      padding: 8px 0;
      border-bottom: 1px solid #333;
    }

    .left-menu a {
      color: #ddd;
      text-decoration: none;
      transition: color 0.3s;
    }

    .left-menu a:hover {
      color: #ffb400;
    }

    .main-content {
      color: #ccc;
    }

    .main-content h4 {
      color: #ffb400;
      margin-bottom: 10px;
    }

    .main-line {
	  border-top: 2px solid #ffffff; 
	  float: middle;
	  
	}


    .track {
      background-image: linear-gradient(to bottom, #2b2925 , rgb(73, 73, 72));
      border-radius: 7px;
      padding: 5px;
    }

	.track p {
		margin:0 50px 0 0;
		padding:0;
	}
	
	.track2 {
		background-image: linear-gradient(to bottom, #2b2925 , rgb(73, 73, 72));
		border-radius: 15px;
       padding: 10px;
	   border: 3px solid #9c9160;
       border-style: none none solid none;
	   color: #a09e95;
	}

	.track4 {
		background-image: linear-gradient(to bottom, #2b2925 , rgb(73, 73, 72));
		border-radius: 15px;
       padding: 10px;
	   border: 3px solid #9c9160;
       border-style: none none solid none;
	   color: #ffe658;
	}

	.track3 {
		 background-color: #1d1d1d;
		border-radius: 10px;
       padding: 2px;
	   
	}

    .track:hover {
      background-color: #444;
    }

    footer {
      text-align: center;
      color: #1a1a1a;
      
      padding: 15px;
      font-size: 0.9rem;
      border-top: 1px solid #333;
      margin-top: 30px;
	  height: 100px;
    }
	footer p{
	background-color: #535050;
      text-align: center;
      color: #1a1a1a;
      font-size: 0.9rem;
	  padding: 25px;
	  font-weight:bold;
	  
    }
	