<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
    }
    h1 {
        font-size: 40px;
        color: #333;
    }
    p {
        color: #444343ef ;
        font-size: 18px;
        margin-bottom: 20px;
    }
    button {
        font-size: 20px;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #dba723;
        color: white;
        border: none;
       border-radius: 10px;
    }
</style>
<body>
    <h1>✉ Thank You!</h1>
    <p><%= message %></p>
    <a href="/">
        <button>Back Home</button>
    </a>
</body>
</html>