<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show TwoD</title>
</head>

<body>

<body>
        
        <% for (let item of TwoD) { %>
            <li>
                 <%= item.imgSrc %>
                <%= item.text %>
            </li>
        <% } %>
    </div>
</section>
         </body>

</html>